network: "{{ ((datasource "trigger_config").network) }}"
chainID: "{{ ((datasource "trigger_config").chainId) }}"
chainSelector: {{ ((datasource "trigger_config").chainSelector) }}
workflowEventOtelEndpoint: ""
courierURL: "{{ ((datasource "config").courierUrl) }}"
service: "{{ ((datasource "config").service) }}"
watcherID: "{{ ((datasource "config").watcherID) }}"
workflowName: "{{ ((datasource "config").workflowName) }}"
apiKeySecret: "courier"
detectEventTriggerConfig:
  contractName: "{{ ((datasource "trigger_config").triggerContractName) }}"
  contractAddress: "{{ ((datasource "trigger_config").triggerContractAddress) }}"
  contractEventName: "{{ ((datasource "trigger_config").triggerEventName) }}"
  contractReaderConfig:
    contracts:
{{- range ((datasource "config").contracts) }}
      {{ .name }}:
        contractABI: '{{ .abi }}'
        {{- if eq .name ((datasource "trigger_config").triggerContractName) }}
        configs:
          {{ ((datasource "trigger_config").triggerEventName) }}: '{"chainSpecificName": "{{ ((datasource "trigger_config").triggerEventName) }}", "readType": "event"}'
        contractPollingFilter:
          genericEventNames: ["{{ ((datasource "trigger_config").triggerEventName) }}"]
          pollingFilter:
            logsPerBlock: 0
            maxLogsKept: 0
            retention: "0s"
            topic2: null
            topic3: null
            topic4: null
        {{- end }}
{{- end }}


