{{- $config := datasource "config" -}}
network: "{{ $config.network }}"
chainID: "{{ $config.chainId }}"
chainSelector: {{ $config.chainSelector }}
workflowEventOtelEndpoint: ""
courierURL: "{{ $config.courierUrl }}"
service: "{{ $config.service }}"
watcherID: "{{ $config.watcherID }}"
workflowName: "{{ $config.workflowName }}"
detectEventTriggerConfig:
  contractName: "{{ $config.triggerContractName }}"
  contractAddress: "{{ $config.triggerContractAddress }}"
  contractEventNames:
    - "{{ $config.triggerEventName }}"
  contractReaderConfig:
    contracts:
{{- range $config.contracts }}
      {{ .name }}:
        contractABI: '{{ .abi }}'
        {{- if eq .name ($config.triggerContractName) }}
        configs:
          {{ $config.triggerEventName }}: '{"chainSpecificName": "{{ $config.triggerEventName }}", "readType": "event"}'
        contractPollingFilter:
          genericEventNames: ["{{ $config.triggerEventName }}"]
          pollingFilter:
            logsPerBlock: 0
            maxLogsKept: 0
            retention: "0s"
            topic2: null
            topic3: null
            topic4: null
        {{- end }}
{{- end }}
